@import '../../scss/variables';

$light-toggle-bg: $light-bg;
$light-border: darken($light-bg, 15%);
$light-moon-icon: darken($light-bg, 100%);
$light-sun-icon: #FF7A00;

$dark-toggle-bg: $dark-bg;
$dark-border: lighten($dark-bg, 15%);
$dark-moon-icon: lighten($dark-bg, 95%);
$dark-sun-icon: lighten($dark-bg, 55%);

$transition: 300ms;

.theme-toggle {
  $root: &;

  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 50%;

  & input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + #{$root}__slider::before {
      transform: translateX(26px);
    }
  }

  &.light {
    #{$root}__slider {
      background-color: $light-toggle-bg;
      border: 2px solid $light-border;

      &::before {
        background: $light-border;
      }
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
  }

  &.dark {
    #{$root}__slider {

      &::before {
        background: $dark-border;
      }
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark-toggle-bg;
    border: 2px solid $dark-border;
    transition: $transition;
    border-radius: 20px;

    &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      transition: $transition;
      border-radius: 50%;
    }
  }
}

.bi {
  font-size: 18px;
  position: absolute;
  top: 6%;

  &.bi-moon-fill {
    left: 10%;
    color: $dark-moon-icon;
  }

  &.bi-sun-fill {
    left: 58%;
    color: $dark-sun-icon;
  }

  label.light & {
    &.bi-moon-fill {
      color: $light-moon-icon;
    }

    &.bi-sun-fill {
      color: $light-sun-icon;
    }
  }
}
