// Common Colors
$white: #FFF;
$black: #000;
$gray-light: #CCC;
$gray-dark: #333;

// Shades of White
$white-1: #FAFAFA;
$white-2: #EAEAEA;
$white-3: #D1D1D1;
$white-4: #B0B0B0;
$white-5: #808080;

// Shades of Black
$black-1: #333333;
$black-2: #666666;
$black-3: #999999;
$black-4: #B0B0B0;
$black-5: #D1D1D1;

// Light Theme
$light-bg: $white-2;
$light-text: $gray-dark;
$light-primary: #007BFF;
$light-accent: #FF6C5F;

// Dark Theme
$dark-bg: $black;
$dark-text: $white;
$dark-primary: #007BFF;
$dark-accent: #FF6C5F;

// Transitions
$transition: 300ms;

:root {
  // Light Theme
  --main-color-light: $light-bg;
  --primary-color-light: $light-text;

   // Dark Theme
  --main-color-dark: $dark-bg;
  --primary-color-dark: $dark-text;

  // Logo
  --logo-primary-light: #FF7A00;
  --logo-secondary-light: #FF9736;
  --logo-tertiary-light: #FFBC7D;

  --logo-primary-dark: #CCC;
  --logo-secondary-dark: #999;
  --logo-tertiary-dark: #333;
}


